<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Trace"
  internalLogFile="D:\Logs\DemoApi\DemoApi.Nlog"
  >
  <!-- Targets-->
  <targets>
      <target name="TargetDebug" xsi:type="File"
              fileName="D:\Logs\DemoApi\${shortdate}_DemoApi.Debug"
              layout="${longdate} [${level:uppercase=true}] - ${message}"/>
      <target name="TargetError" xsi:type="File"
              fileName="D:\Logs\DemoApi\${shortdate}_DemoApi.Error"
              layout="${longdate} [${level:uppercase=true}] - ${message}"/>
  </targets>

   <!-- Rules -->
  <rules>
      <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="TargetDebug"/>
      <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="TargetError"/>
  </rules>
</nlog>
